{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Avatar{% endblock %}

{% block body %}
<div align="right">
  <b>{{ session['username'] }}:</b> <a href="/profile/">Profile</a> | <a href="/password_update/">Change password</a> | <a href="/logout/">Logout</a>
</div>

<img src="{{ image }}" width="124px" height="124px">

<form role="form" action="/avatar/" method="POST" enctype="multipart/form-data">
  <dl>
    {{ render_field(avatarform.image_file) }}
  </dl>
  <button type="submit" name="submit" class="btn btn-primary" value="Form sent">Submit</button>
</form>

{% endblock %}