<!doctype html>
<html lang="en">
  <head>
    <title>Correlation of car's age, mileage and price - data from auto.ria.ua</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>

  <body>
  <!-- Main contents container-->
  <div class="container">
    <br>
    <h4>Car-Price-Age-Mileage (v.0.3)</h4>
    <h6><a href="{{ url_for('index') }}">Back to models list</a> / {{ make }} - {{ model }}</h6>

    <!-- If we don't have any data, there will be no charts -->
    {% if nodata==True %}
    <div class="alert alert-danger" role="alert">
      Sorry, but <a href="https://auto.ria.com/" target="_blank">auto.ria.ua</a> has no adverticements for this model. Please <a href="{{ url_for('index') }}">choose</a> another model.
    </div>
    {% endif %}

    <!-- If we have some data, let's display charts -->
    {% if nodata==False %}

    <!-- Show an alert if we have less than 5 ads -->
    {% if toofewads==True %}
    <div class="alert alert-warning" role="alert">
      There are very few ads on <a href="https://auto.ria.com/" target="_blank">auto.ria.ua</a> for this model - charts may be misleading.
    </div>
    {% endif %}

    <p>
      <img src="{{ ch_pa }}" width="600" height="600">
    </p>
    <p>
      <img src="{{ ch_pm }}" width="600" height="600">
    </p>
    <p>
      <img src="{{ ch_ma }}" width="600" height="600">
    </p>
     {% endif %}
      <div class="alert alert-light" role="alert">
        Made using <a href="https://auto.ria.com/" target="_blank">auto.ria.ua</a> <a href="https://github.com/ria-com/auto-ria-rest-api" target="_blank">API</a>
      </div>
  </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>