{% extends "layout.html" %}

{% block title %}Correlation of car's age, mileage and price - data from auto.ria.ua{% endblock %}

{% block body %}

    {% if session['username'] %}
        <b>{{ session['username'] }}: </b><a href="/profile/">Profile</a> | <a href="/preferences/">Preferences</a> | <a href="/logout/">Logout</a>

    {% else %}

        <a href="/login/">Log in</a> | <a href="/register/">Register</a>
    {% endif %}

    <h1 class="display-4">Car-Price-Age-Mileage (v.1.0)</h1>
    <br>
    <h6>Please choose a model from the list below:</h6>
    {% for makemodel in makemodellist %}
        <h4><b>{{ makemodel[0] }} </b></h4>
        {% for model in makemodel[1] %}
            <a href="{{ model }}">{{ model }}</a><br>
        {% endfor %}
        <br>
    {% endfor %}
    Made by <a href="https://iuriid.github.io/" target="_blank">Iurii Dziuban</a> using <a href="https://auto.ria.com/" target="_blank">auto.ria.ua</a> <a href="https://github.com/ria-com/auto-ria-rest-api" target="_blank">API</a> in Dec 2017

{% endblock %}