<!doctype html>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
        <!-- Popper.js -->
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <!-- Bootstrap.js -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {% endblock %}



    <div class="container">
            <br>
            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">
                        {{ message|safe }}
                    </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

        {% block body %}
                <!-- Main contents -->


        {% endblock %}
    </div>
