{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Login{% endblock %}

{% block body %}
<div align="right">
  {% if session['username'] %}
    <b>{{ session['username'] }}: </b>
  {% endif %}
  <a href="/">Main page</a>
</div>

<form role="form" action="/login/" method="POST">
  <dl>
    {{ render_field(loginform.usernameoremail) }}
    {{ render_field(loginform.password) }}
  </dl>
  <button type="submit" name="submit" class="btn btn-primary" value="Form sent">Submit</button>&nbsp;<a href="/password_reset/">Forgot password?</a>
  </form>
{% endblock %}