{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Update password{% endblock %}

{% block body %}
<div align="right">
  <b>{{ session['username'] }}:</b> </b> <a href="/">Main page</a> | <a href="/profile/">Profile</a> | <a href="/logout/">Logout</a>
</div>

<form role="form" action="/password_update/" method="POST">
  <dl>
      {{ render_field(pwdupdateform.oldpassword) }}
      {{ render_field(pwdupdateform.newpassword) }}
      {{ render_field(pwdupdateform.confirm) }}
  </dl>
  <button type="submit" name="submit" class="btn btn-primary" value="Form sent">Save</button>
</form>

{% endblock %}