{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Reset password{% endblock %}

{% block body %}
<div align="right">
  <a href="/">Main page</a> | <a href="/login/">Login</a> | <a href="/register/">Register</a>
</div>

<form role="form" action="/password_reset/" method="POST">
  <dl>
    {{ render_field(pwdresetform.email) }}
  </dl>
  <button type="submit" name="submit" class="btn btn-primary" value="Form sent">Reset password</button>
</form>

{% endblock %}