{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Profile{% endblock %}

{% block body %}
<div align="right">
  <b>{{ session['username'] }}:</b> <a href="/avatar/">Avatar</a> | <a href="/password_update/">Change password</a> | <a href="/logout/">Logout</a>
</div>

<form role="form" action="/profile/" method="POST">
  <dl>
    {{ render_field(profileform.username) }}
    {{ render_field(profileform.email) }}
    {{ render_field(profileform.language) }}
    {{ render_field(profileform.description) }}
  </dl>
  <button type="submit" name="submit" class="btn btn-primary" value="Form sent">Save</button>
</form>

{% endblock %}