{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}Register{% endblock %}

{% block body %}

<div align="right">Maybe just <a href="/login">log in</a>?</div>
<form role="form" action="/register/" method="POST">
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <button type="submit" name="submit" class="btn btn-primary" value="Form sent">Submit</button>
</form>

{% endblock %}